
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="@ViewBag.Event" id="search_event">
<input type="hidden" value="@ViewBag.Category" id="search_category">
<input type="hidden" value="@ViewBag.Location" id="location_search">

<section class="section-refine-search">
    <div class="container">
        <div class="row">
            <div class="keyword col-sm-6 col-md-3">
                <label>Event Name</label>
                <input type="text" id="search_name" class="form-control hasclear">
                <span class="clearer"><img src="~/Content/images/clear.png" alt="clear"></span>
            </div>
            <div class="keyword col-sm-6 col-md-3">
                <label>Location</label>
                <input type="text" id="search_location" class="form-control hasclear">
                <span class="clearer"><img src="~/Content/images/clear.png" alt="clear"></span>
            </div>
            <div class="event-date keyword col-sm-6 col-md-3">
                <label>Event Date</label>
                <input class="datepicker-here form-control hasclear" name="Date" id="search_date" data-language="en" data-date-format="yyyy-mm-dd" required />
                <span class="clearer"><img src="~/Content/images/clear.png" alt="clear"></span>
            </div>
            <div class="col-sm-6 col-md-3">
                <input type="submit" id="search_button" value="Search">
            </div>
        </div>
    </div>
</section>

<section class="section-search-content">
    <div class="container">
        <div class="row">
            <div id="secondary" class="col-md-4 col-lg-3">
                <div class="search-filter">
                    <div class="search-event-title">
                        <h2> Filter </h2>
                    </div>

                    <div class="search-filter-category">
                        <h3>Categories</h3>

                        @foreach (var category in ViewBag.Categories)
                        {
                            <div class="checkbox">
                                <input id="category_@category.Id" class="styled search-category" value="@category.Id" type="checkbox" checked>
                                <label for="category_@category.Id">
                                    @category.Name
                                </label>
                            </div>
                        }

                    </div>

                    <div class="search-filter-price">
                        <h3>Price</h3>
                        <input id="price-range" type="text" class="span2" value="" data-slider-min="10" data-slider-max="200" data-slider-step="5" data-slider-value="[0,200]" />
                    </div>
                </div>
            </div>

            <div id="primary" class="col-md-8 col-lg-9">

                <div class="search-result-header">
                    <div class="row">
                        <div class="col-sm-7">
                            <h2>Search Results</h2>
                            <span class="show-page-range"></span>
                        </div>
                        <div class="col-sm-5">
                            <label>Sort By</label>
                            <select class="selectpicker dropdown" id="search_sort">
                                <option value="0">Price: Low-High</option>
                                <option value="1">Price: High-Low</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="loadingDiv">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="search-result-content">

                </div>


                <div class="search-result-footer">
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {

    <script type="text/javascript">
        function debounce(callback, wait) {
            let timeout;
            return (...args) => {
                const context = this;
                clearTimeout(timeout);
                timeout = setTimeout(() => callback.apply(context, args), wait);
            };
        }
        $(document).ready(function () {
            localStorage.setItem("UserID", $(".user-id").val())
            $("#search_name").val($("#search_event").val())
            $('#search_location').val($('#location_search').val())
            if ($("#search_category").val().length != 0) {
                var categories = $(".search-category");
                for (var c of categories) {
                    $(c)[0].checked = false;
                    if ($(c)[0].value == $("#search_category").val()) {
                        $(c)[0].checked = true;
                    }
                }
            }
            $('#search_date').data('datepicker')
            Filter(0);
            $('#search_button').click((e) => {
                Filter(0);
            })
            $('#search_sort').change((e) => {
                Filter(0);
            })
            $('.search-category').change((e) => {
                Filter(0);
            })
            $('.tooltip-min .tooltip-inner, .tooltip-max .tooltip-inner').bind('DOMSubtreeModified', debounce(function (event) {
                Filter(0)
            }, 500));
        })
        function Filter(page) {
            var categories = $(".search-category");
            var cats = [];
            for (var c of categories) {
                if ($(c)[0].checked) {
                    cats = [$(c).val(), ...cats];
                }
            }
            console.log(cats);
            $.ajax({
                url: '/api/TicketSearch',
                data: {
                    Name: $("#search_name").val(),
                    Location: $("#search_location").val(),
                    Date: $("#search_date").val(),
                    Page: page,
                    MinPrice: $("#price-range").val().split(",")[0],
                    MaxPrice: $("#price-range").val().split(",")[1],
                    Categories: cats,
                    Sort: $('#search_sort').val()
                },
                method: 'post',
                success: function (response) {
                    let totalRows = parseInt(response['TotalRows']);
                    for (var ticket of response['Result']) {
                        let date = new Date(ticket.Date);
                        $('.search-result-content').append('<div class="search-result-item ' + (ticket.IsSold ? 'sale' : '') + '">\
                                            '+ (ticket.IsSold ? '<div class="ribbon"><span>Sold out</span></div>' : '') + '<div class="row">\
                                                <div class="search-result-item-info col-sm-9">\
                                                    <h3>' + ticket.Name + '</h3>\
                                                    <ul class="row">\
                                                        <li class="col-sm-5 col-lg-6">\
                                                            <span>Location</span>\
                                                           '+ ticket.Location + '\
                                                        </li>\
                                                        <li class="col-sm-4 col-lg-3">\
                                                            <span>Date</span>\
                                                            '+ date.getFullYear() + ' - ' + (date.getMonth() + 1) + ' - ' + date.getDate() + '\
                                                        </li>\
                                                        <li class="col-sm-3">\
                                                            <span>Time</span>\
                                                            '+ date.getHours() + ' : ' + date.getMinutes() + '\
                                                        </li>\
                                                    </ul>\
                                                </div>\
                                                <div class="search-result-item-price col-sm-3">\
                                                    <span>Price From</span>\
                                                    <strong>£'+ ticket.Price.toFixed(2) + '</strong>\
                                                    <a href="/Search/Detail/'+ ticket.Id + '">Detail</a>\
                                                </div>\
                                            </div>\
                                        </div>');
                    }
                    let pagesPerScreen = 5;
                    let itemsPerPage = 5;
                    let pages = Math.ceil(totalRows / itemsPerPage);
                    let currentPage = response['CurrentPage'];
                    if (response['Result'].length == 0)
                        $('.show-page-range').html('No search results');
                    else
                        $('.show-page-range').html('Showing ' + ((currentPage * itemsPerPage) + 1) + ' - ' + (currentPage * itemsPerPage + response['Result'].length) + ' of ' + totalRows + ' Results')
                    if (pages > 0 && parseInt(currentPage) < pages) {
                        let currentSection = parseInt(currentPage / pagesPerScreen);
                        let pagination = '<li>\
                                            <a class="'+ (currentSection == 0 ? 'disabled' : '') + '" aria-label="Previous">\
                                                <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Previous</span>\
                                            </a>\
                                        </li>';
                        for (let i = currentSection * pagesPerScreen; i < (currentSection * pagesPerScreen + pagesPerScreen < pages ? currentSection * pagesPerScreen + pagesPerScreen : pages - currentSection * pagesPerScreen); i++) {
                            pagination += '<li class="' + (i == currentPage ? 'active' : '') + '"><a class="search-pagination-page" data-page="' + i + '">' + (i + 1) + '</a></li>';
                        }
                        pagination += '<li>\
                                            <a class="' + (currentSection == parseInt((pages - 1) / pagesPerScreen) ? 'disabled' : '') + '" aria-label="Next">\
                                                <span aria-hidden="true">Next <i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>\
                                            </a>\
                                        </li>';

                        $('.pagination').html(pagination);
                        $('.search-pagination-page').click(function (e) {
                            Filter($(e.currentTarget).data('page'))
                        });
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            })

        }
        var $loading = $('#loadingDiv').hide();
        $(document)
            .ajaxStart(function () {
                $loading.show();
                $('.search-result-content').html('')
            })
            .ajaxStop(function () {
                $loading.hide();
            });
    </script>

}

